# workspace for IDE
*.code-workspace
*.sublime-workspace
.vscode/
.idea/

# compiled files
*.py[cod]

# pyqt5 files
pyqt/

# pyinstaller dir
build/
dist/
venv/

# output files
*.log
result/
svn/