# workspace for IDE
*.code-workspace
*.sublime-workspace
.vscode/
.idea/

# compiled files
*.py[cod]

# pyqt5 files

# pyinstaller dir
build/
dist/
*.spec

# output files
result/
result*.txt
*.log